body{
margin:0;
font-family:Arial;
background: linear-gradient(135deg,#1e90ff,#00a86b);
min-height:100vh;

display:flex;
justify-content:center;
align-items:center;
}

.signup-container{
width:100%;
max-width:420px;
padding:20px;
}

.back{
color:white;
text-decoration:none;
display:block;
margin-bottom:20px;
}

.logo{
text-align:center;
color:white;
margin-bottom:20px;
}

.card{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
text-align:center;
margin-bottom:5px;
}

.subtitle{
text-align:center;
color:gray;
margin-bottom:20px;
}

.name-row{
display:flex;
gap:10px;
}

.input-group{
flex:1;
}

label{
display:block;
margin-top:15px;
}

input{
width:100%;
padding:12px;
margin-top:5px;
border-radius:6px;
border:1px solid #ddd;
}

.password-box{
display:flex;
align-items:center;
}

.password-box span{
margin-left:-35px;
cursor:pointer;
}

.rules{
font-size:12px;
color:gray;
margin-top:10px;
}

.terms{
margin-top:15px;
font-size:14px;
}

button{
width:100%;
padding:14px;
margin-top:20px;
border:none;
border-radius:8px;
background:#1e90ff;
color:white;
font-size:16px;
cursor:pointer;
}

.login-link{
text-align:center;
margin-top:15px;
}
